@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');
* {
  font-family: 'Merienda', cursive;
  color: #fff;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.app {
  min-width: 1440px;
  padding: 0;
  margin: 0;
}
