.header {
	position: relative;
	display: flex;
	padding: 30px 151px 38px 142px;
	&-bg img{
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
	&-menu {
		padding-top: 22px;
		display: flex;
	}
	&-items {
		margin-right: 40px;
		font-size: 13px;
		line-height: 17px;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #807e7e;
		}
	}
}