@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
  font-family: 'Merienda', cursive;
  color: #fff;
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}


